@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova-Regular.eot");
    src: url("../fonts/ProximaNova-Regular.woff") format('woff'),
         url("../fonts/ProximaNova-Regular.ttf") format('truetype'),
         url("../fonts/ProximaNova-Regular.svg") format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/proximanova-bold.otf");
    font-weight: bold;
    font-style: bold;
}