@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/proximanova-bold.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/proximanova-bold.otf");
    font-weight: bold;
    font-style: bold;
}