body {
    font-family: ProximaNova, Arial;
    counter-reset: setNumb;
    background-color: #eceef4;
}

address{
    font-style: normal;
}

header {
}

.header-container {
    max-width: 800px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* text-align: center; */
    align-items: center;
    margin: auto;
}

.action-button {
    padding: 10px 16px;
    width: 105px;
    /*max-height: 35px; */
    font-family: ProximaNova, Arial;
    font-size: 8px;
    text-transform: uppercase; 
    color: #a5abc5;
    background-color: #eceef4;
}

.action-button i { 
    color: #a5abc5;
}

.logo {
    width: 74px;
    height: 74px; 
}

.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid;
    border-radius: 3px;
}

.form-container{
    background-color: white; 
    text-align: center;
    max-width: 800px;
    margin: auto;
    margin-bottom: 82px;
    border: 1.5px solid #a5abc5;   
    border-radius: 3px;
}

.order-help-wrapper{
    display: flex;
    flex-direction: row;
}

.order{
    flex-basis: 75%;
    display: flex;
    flex-direction: row;
    padding: 16px 25px 16px 45px;
    border-bottom: 1.5px solid #a5abc5;   
    border-right: 1.5px solid #a5abc5;   
}

.order-details{
  width: 80%;
  margin: auto;
}

.order-details h2{
    /*margin-top: 20px; */
    text-align: left;    
    color: #6e768f;
}

.order-details table{
  table-layout: fixed;
  border-collapse: collapse;
  /* border: 1px solid purple;  */
  margin: auto;   
}

.order-details tr{
    font-family: ProximaNova, Arial;
    text-align: left;
}
.order-details th{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 8px;
    padding: 4px;
    color: #6e768f;
    letter-spacing: 0.8px;
}

.order-details th:nth-child(1) {
  width: 32%;
}

.order-details th:nth-child(2) {
  width: 27%;
}

.order-details th:nth-child(3) {
  width: 23%;
}
.order-details th:nth-child(4) {
  width: 18%;
}

.order-details td{
    font-size: 9px;
    padding: 4px;
    color: #a5abc5;
}

.order-buttons{
    display: flex;
    flex-direction: column;
}

.order-buttons > * {
  /*flex: 1 1 100%; */
}
.help-center{
    flex-basis: 25%;
    max-width: 265px;
    text-align: left;
    padding: 10px 20px 10px 40px;
    color: #6e768f;
    border-bottom: 1.5px solid #a5abc5;   
}

h2{
    text-transform: uppercase;
    font-size: 9px;
    position: relative;
    letter-spacing: 0.8px; 
}

h3{
    text-transform: uppercase;
    font-size: 8px;
    position: relative;
}

.help-center h3:before {
    content: "\f1cd"; /*fa-life-ring*/
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    transform: translate(-200%, -25%);
    font-size: 1.5em;
    border-radius: 50%;
}

.help-center p{
    font-size: 9px;
    color: #a5abc5;
}

.help-center address{
/*    font-style: normal; */
    font-size: 9px;
}

.help-center a{
    text-decoration: none;
    color: #6e768f;
}

.help-center a:hover {
    text-decoration: underline;
}

.fieldsetObjType{
    text-align: center;
    border: 0;
}

.fa {
    font-family: FontAwesome;
    color: #c1c1c1;
    position: relative;    
}

.fa-user {
    font-weight: 900;
}

.fa-cloud-upload {
    content: '\f0ee';
}
    
.fa-check-circle {
    content: '\f058';
}

.countedFieldSet {
    border: 0;
}

.countedFieldSet > legend {
    font-weight: bold; 
    font-size: 1em;
    color: #6e768f;
    position: relative;
}

.countedFieldSet > legend::before {
    counter-increment: setNumb;
    content: counter(setNumb);
    border-radius: 50%;
    width: 30px; 
    height: 30px; 
    box-sizing: border-box;
    /* padding: 4px; */
    line-height: 30px;
    border: 1px solid #6e768f;
    color: #6e768f;     
    text-align: center;
    font-size: 0.8em;
    left: -34px;
    top: -7px;
    position: absolute;
}

.obj-type-image {
    height: 75px;
    width: auto;
    margin: 25px 25px 10px 25px;
}

.objTypeSelector {
    margin: auto;
    display: flex;   
    flex-direction: row;
    justify-content: space-between;
    max-width: 670px;
    /*float:left;*/
}

.objTypeOption {
    position: relative;
}

.objTypeSelector label {
    float:left;
    width:200px;
    margin:4px;
    text-align:center;
    background-color:#f7f7fa;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:visible; 
}

.objTypeSelector label span {
    font-weight: bold; 
    font-size: 0.8em;     
    padding-bottom: 13px;
    display:block;
    color:  #a5abc5;
}

.objTypeSelector input {
    position:absolute;
    display: none;
    /* top:100px; */
    
}

.objTypeSelector input[type="radio"]:checked+label {
    color: #7fade3;
    box-shadow: 0 0 0 5px #7fade3; /* skyblue */
    position: relative;
}

.objTypeSelector input[type="radio"]:checked+label:after {
    content: "\f058";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    background-color: #fff;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    font-size: 1.5em;
    border-radius: 50%;
}

.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

footer {
    background-color: #444a62;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* text-align: center; */
    align-items: center;
    height: 200px;
    max-width: 820px;
    color: #A5ABC5;
    margin: auto;
    font-size: 8px;
}

.footer-container > div {
    width: 130px;
}    

.footer-container  h3{
    text-transform: uppercase;
    letter-spacing: 0.8px; 
}

.footer-container  h3:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    background-color: #444a62;
    color: #A5ABC5; /* #eceef4; */
    top: 0;
    left: 0;
    transform: translate(-200%, -25%);
    font-size: 1.5em;
    border-radius: 50%;
}

.footer-container .mission h3:before {
    content: "\f004"; 
}

.footer-container .office h3:before {
    content: "\f14e";
}

.footer-container .connect h3:before {
    content: "\f1e0";
}   

.footer-container a {
    text-decoration: none;
    color: #A5ABC5;
}

.footer-container a:hover {
    text-decoration: underline;
}

.connect [class*="fab fa-"] {
    background-color: #A5ABC5;
    border-radius: 10px;
    color: #444a62;
    display: inline-block;
    height: 10px;
    line-height: 10px;
    margin: auto 1px;
    width: 10px;
    font-size: 5px;
    text-align: center;
}