header {
    background-color: #eceef4;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* text-align: center; */
    align-items: center;
    height: 150px;
}

.header-button {
    width: 100px;
    height: 35px;
}

.logo {
  width: 74px;
  height: 74px; 
}

.btn {
  padding: 8px, 16px;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid;
  border-radius: 4px;
}


footer {
    background-color: grey;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* text-align: center; */
    align-items: center;
    height: 200px;
    font-size: 10px;
    color: #eceef4;;
}

.footer-container > div {
    width: 130px;
}    

body {
    font-family: ProximaNova, Arial;
    counter-reset: setNumb;
}

.formContainer{
    text-align: center;
}

.helpCenter{
    max-width: 265px;
    text-align: left;
    padding: 20px 50px 20px 70px;
    color: #6e768f;
}

.helpCenter h3{
    text-transform: uppercase;
    font-size: 12px;
}

.helpCenter p{
    font-size: 11px;
    color: #a5abc5;
}

.helpCenter address{
    font-style: normal;
    font-size: 13px;
}

.helpCenter a{
    text-decoration: none;
    color: #6e768f;
}

.helpCenter a:hover {
    text-decoration: underline;
}
.fieldsetObjType{
    text-align: center;
    border: 0;
}

.fa {
    font-family: FontAwesome;
    color: #c1c1c1;
}

.fa-cloud-upload {
    content: '\f0ee';
    position: relative;    
}
    
.fa-check-circle {
    content: '\f058';
    position: relative;    
}

.countedFieldSet {
    border: 0;
}

.countedFieldSet > legend {
    font-weight: bold; 
    font-size: 1em;
    color: #6e768f;
    position: relative;
}

.countedFieldSet > legend::before {
    counter-increment: setNumb;
    content: counter(setNumb);
    border-radius: 50%;
    width: 30px; 
    height: 30px; 
    box-sizing: border-box;
    /* padding: 4px; */
    line-height: 30px;
    border: 1px solid #6e768f;
    color: #6e768f;     
    text-align: center;
    font-size: 0.8em;
    left: -34px;
    top: -7px;
    position: absolute;
}

.obj-type-image {
    height: 75px;
    width: auto;
    margin: 25px 25px 10px 25px;
}

.objTypeSelector {
    margin: auto;
    display: flex;   
    flex-direction: row;
    justify-content: space-between;
    max-width: 670px;
    /*float:left;*/
}

.objTypeOption {
    position: relative;
}

.objTypeSelector label {
    float:left;
    width:200px;
    margin:4px;
    text-align:center;
    background-color:#f7f7fa;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:visible; 
}

.objTypeSelector label span {
    font-weight: bold; 
    font-size: 0.8em;     
    padding-bottom: 13px;
    display:block;
    color:  #a5abc5;
}

.objTypeSelector input {
    position:absolute;
    display: none;
    /* top:100px; */
    
}

.objTypeSelector input[type="radio"]:checked+label {
    color: #7fade3;
    box-shadow: 0 0 0 5px #7fade3; /* skyblue */
    position: relative;
}

.objTypeSelector input[type="radio"]:checked+label:after {
    content: "\f058";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    background-color: #fff;
    top: 0;
    right: 0;
    right: 0px;
    top: 0px;
    transform: translate(50%, -50%);
    font-size: 1.5em;
    border-radius: 50%;
}

.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

